
.container-fluid
	.row
		.col-xs-6
			%h1 Recipes
		.col-xs-6
			.pull-right
				= link_to'New Recipe', new_recipe_path, class: 'btn btn-success'

#recipes
	%ul
		- @recipes.each do |recipe|
			.row
				.recipe
					.col-xs-2
						.image
							Place holder
					.col-xs-9
						.description
							%p
								= recipe.name
							%p
								= "cuisine: #{recipe.cuisine}"
