html, body
	heigth: 100%

body
	background: $main_green

.recipe
	margin-top: 1em
	.image
		height: 100px
		background: blue
		color: white
		text-align: center
	.description
		min-height: 100px
		border-bottom: 1px solid grey

.recipe_form
	.new_step_fields
		.new_step_button
