.recipe
	margin-top: 1em
	.recipe_image
		background: blue
		color: white
		text-align: center
		max-height: 200px
		overflow: hidden
		border: 0.5em solid white
		min-width: 170px
		img
			width: 100%
	.description
		min-height: 160px
		border-bottom: 1px solid grey